<%- include('partials/header.ejs')%>
        <h1> Welcome to Earth!</h1>
        <p>Click on a planet to know more about it: </p>
        <div class="topnav">
                <div class="topnav-centered">
                        <a href="/index"> Our Solar System <em><strong>(the Sun)</strong></em></a> <br>
                </div>
                        <a href="/mercury"> Mercury </a> <br>
                        <a href="/venus"> Venus </a> <br>
                        <a href="/earth"> Earth </a> <br>
                        <a href="/mars"> Mars </a> <br>
                        <a href="/jupiter"> Jupiter </a> <br>
        </div> 
        <h2>This is our planet Earth! This is where humanity exists in a process that has taken millions of years!</h2>
        <p>Earth, our home, is the third planet from the sun. It's the only planet known to have an atmosphere containing free oxygen, oceans of water on its surface and, of course, life. Earth is the fifth largest of the planets in the solar system.</p>
        <img src="/img/earth.jpg" alt="Earth" /><br>
<%- include('partials/footer.ejs')%>
