<%- include('partials/header.ejs')%>
        <h1> Welcome to Jupiter!</h1>
        <p>Click on a planet to know more about it: </p>
        <div class="topnav">
                <div class="topnav-centered">
                        <a href="/index"> Our Solar System <em><strong>(the Sun)</strong></em></a> <br>
                </div>
                        <a href="/mercury"> Mercury </a> <br>
                        <a href="/venus"> Venus </a> <br>
                        <a href="/earth"> Earth </a> <br>
                        <a href="/mars"> Mars </a> <br>
                        <a href="/jupiter"> Jupiter </a> <br>
        </div>
        <h2>This is Jupiter! It is the largest planet in our solar System!</h2>
        <p>Jupiter is the fifth planet from the Sun. It is a gas giant with a mass one-thousandth that of the Sun, but two-and-a-half times that of all the other planets in the Solar System combined.</p>
        <img src="/img/jupiter.jpg" alt="Jupiter" /><br>
<%- include('partials/footer.ejs')%>
