<%- include('partials/header.ejs')%>
        <h1> Welcome to Mars!</h1>
        <p>Click on a planet to know more about it: </p>
        <div class="topnav">
                <div class="topnav-centered">
                        <a href="/index"> Our Solar System <em><strong>(the Sun)</strong></em></a> <br>
                </div>
                        <a href="/mercury"> Mercury </a> <br>
                        <a href="/venus"> Venus </a> <br>
                        <a href="/earth"> Earth </a> <br>
                        <a href="/mars"> Mars </a> <br>
                        <a href="/jupiter"> Jupiter </a> <br>
        </div>
        <h2>This is Mars! This planet also goes by the name of the RED planet!</h2>
        <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the valleys, deserts, and polar ice caps of Earth.</p>
        <img src="/img/mars.jpg" alt="Mars" /><br>
<%- include('partials/footer.ejs')%>
